<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="com.xujie.manager.infra.mapper.BizCategoryMapper">
    <resultMap id="BaseResultMap" type="com.xujie.manager.infra.DO.BizCategory">
        <!--@Table biz_category-->
        <result property="id" column="id" jdbcType="INTEGER"/>
        <result property="categoryName" column="category_name" jdbcType="VARCHAR"/>
        <result property="categoryRank" column="category_rank" jdbcType="INTEGER"/>
        <result property="categoryDesc" column="category_desc" jdbcType="VARCHAR"/>
        <result property="categoryStatus" column="category_status" jdbcType="INTEGER"/>
        <result property="createTime" column="create_time" jdbcType="TIMESTAMP"/>
        <result property="updateTime" column="update_time" jdbcType="TIMESTAMP"/>
        <result property="isDelete" column="is_delete" jdbcType="INTEGER"/>
    </resultMap>

    <sql id="Base_Column_List">
        id,
        category_name,
        category_rank,
        category_desc,
        category_status,
        create_time,
        update_time,
        is_delete
    </sql>

    <!-- 批量插入 -->
    <insert id="insertBatch" keyProperty="id" useGeneratedKeys="true">
        insert into chaoxingv2.biz_category(category_name, category_rank, category_desc, category_status, create_time,
        update_time, is_delete)
        values
        <foreach collection="entities" item="entity" separator=",">
            (#{entity.categoryName}, #{entity.categoryRank}, #{entity.categoryDesc}, #{entity.categoryStatus},
            #{entity.createTime}, #{entity.updateTime}, #{entity.isDelete})
        </foreach>
    </insert>
    <!-- 批量插入或按主键更新 -->
    <insert id="insertOrUpdateBatch" keyProperty="id" useGeneratedKeys="true">
        insert into chaoxingv2.biz_category(category_name, category_rank, category_desc, category_status, create_time,
        update_time, is_delete)
        values
        <foreach collection="entities" item="entity" separator=",">
            (#{entity.categoryName}, #{entity.categoryRank}, #{entity.categoryDesc}, #{entity.categoryStatus},
            #{entity.createTime}, #{entity.updateTime}, #{entity.isDelete})
        </foreach>
        on duplicate key update
        category_name = values(category_name) , category_rank = values(category_rank) , category_desc =
        values(category_desc) , category_status = values(category_status) , create_time = values(create_time) ,
        update_time = values(update_time) , is_delete = values(is_delete)
    </insert>

    <!--auto generated by MybatisCodeHelper on 2024-09-27-->
    <select id="getByAll" resultMap="BaseResultMap">
        select
        <include refid="Base_Column_List"/>
        from biz_category
        <where>
            <if test="id != null">
                and id=#{id,jdbcType=INTEGER}
            </if>
            <if test="categoryName != null and categoryName != ''">
                and category_name=#{categoryName,jdbcType=VARCHAR}
            </if>
            <if test="categoryRank != null">
                and category_rank=#{categoryRank,jdbcType=INTEGER}
            </if>
            <if test="categoryDesc != null and categoryDesc != ''">
                and category_desc=#{categoryDesc,jdbcType=VARCHAR}
            </if>
            <if test="categoryStatus != null">
                and category_status=#{categoryStatus,jdbcType=INTEGER}
            </if>
            <if test="createTime != null">
                and create_time=#{createTime,jdbcType=TIMESTAMP}
            </if>
            <if test="updateTime != null">
                and update_time=#{updateTime,jdbcType=TIMESTAMP}
            </if>
            <if test="isDelete != null">
                and is_delete=#{isDelete,jdbcType=INTEGER}
            </if>
        </where>
    </select>
</mapper>

