<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="com.xujie.manager.infra.mapper.BizEggQuotationMapper">
    <resultMap id="BaseResultMap" type="com.xujie.manager.infra.DO.BizEggQuotation">
        <!--@mbg.generated-->
        <!--@Table biz_egg_quotation-->
        <id column="id" jdbcType="BIGINT" property="id"/>
        <result column="user_id" jdbcType="BIGINT" property="userId"/>
        <result column="egg_type_id" jdbcType="BIGINT" property="eggTypeId"/>
        <result column="egg_type_name" jdbcType="VARCHAR" property="eggTypeName"/>
        <result column="quotation_location" jdbcType="VARCHAR" property="quotationLocation"/>
        <result column="quotation_max_price" jdbcType="DOUBLE" property="quotationMaxPrice"/>
        <result column="quotation_avg_price" jdbcType="DOUBLE" property="quotationAvgPrice"/>
        <result column="quotation_min_price" jdbcType="DOUBLE" property="quotationMinPrice"/>
        <result column="quotation_status" jdbcType="INTEGER" property="quotationStatus"/>
        <result column="quotation_float_status" jdbcType="INTEGER" property="quotationFloatStatus"/>
        <result column="quotation_type" jdbcType="INTEGER" property="quotationType"/>
        <result column="data_date" jdbcType="VARCHAR" property="dataDate"/>
        <result column="create_time" jdbcType="TIMESTAMP" property="createTime"/>
        <result column="update_time" jdbcType="TIMESTAMP" property="updateTime"/>
        <result column="is_delete" jdbcType="INTEGER" property="isDelete"/>
    </resultMap>
    <sql id="Base_Column_List">
        <!--@mbg.generated-->
        id, user_id, egg_type_id, egg_type_name, quotation_location, quotation_max_price,
        quotation_avg_price, quotation_min_price, quotation_status, quotation_float_status,
        quotation_type, data_date, create_time, update_time, is_delete
    </sql>

    <select id="getPageList" resultMap="BaseResultMap">
        select biz_egg_quotation.*,biz_user.nick_name as nickName
        from biz_egg_quotation
        left join biz_user on biz_egg_quotation.user_id = biz_user.id
        ${ew.customSqlSegment}
    </select>
</mapper>