<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="com.xujie.manager.infra.mapper.BizGoodMapper">
    <resultMap id="BaseResultMap" type="com.xujie.manager.infra.DO.BizGood">
        <!--@Table biz_good-->
        <result property="id" column="id" jdbcType="INTEGER"/>
        <result property="categoryId" column="category_id" jdbcType="INTEGER"/>
        <result property="goodName" column="good_name" jdbcType="VARCHAR"/>
        <result property="goodDesc" column="good_desc" jdbcType="VARCHAR"/>
        <result property="goodPrice" column="good_price" jdbcType="VARCHAR"/>
        <result property="goodRank" column="good_rank" jdbcType="INTEGER"/>
        <result property="goodParams" column="good_params" jdbcType="VARCHAR"/>
        <result property="platformId" column="platform_id" jdbcType="INTEGER"/>
        <result property="stationId" column="station_id" jdbcType="INTEGER"/>
        <result property="createTime" column="create_time" jdbcType="TIMESTAMP"/>
        <result property="updateTime" column="update_time" jdbcType="TIMESTAMP"/>
        <result property="isDelete" column="is_delete" jdbcType="INTEGER"/>
        <result column="category_name" property="categoryName"/>
        <result column="station_name" property="stationName"/>
    </resultMap>

    <sql id="Base_Column_List">
        id,
        category_id,
        good_name,
        good_desc,
        good_price,
        good_rank,
        good_params,
        platform_id,
        station_id,
        create_time,
        update_time,
        is_delete
    </sql>

    <!-- 批量插入 -->
    <insert id="insertBatch" keyProperty="id" useGeneratedKeys="true">
        insert into chaoxingv2.biz_good(category_id, good_name, good_desc, good_price, good_rank, good_params,
        platform_id, station_id, create_time, update_time, is_delete)
        values
        <foreach collection="entities" item="entity" separator=",">
            (#{entity.categoryId}, #{entity.goodName}, #{entity.goodDesc}, #{entity.goodPrice}, #{entity.goodRank},
            #{entity.goodParams}, #{entity.platformId}, #{entity.stationId}, #{entity.createTime}, #{entity.updateTime},
            #{entity.isDelete})
        </foreach>
    </insert>
    <!-- 批量插入或按主键更新 -->
    <insert id="insertOrUpdateBatch" keyProperty="id" useGeneratedKeys="true">
        insert into chaoxingv2.biz_good(category_id, good_name, good_desc, good_price, good_rank, good_params,
        platform_id, station_id, create_time, update_time, is_delete)
        values
        <foreach collection="entities" item="entity" separator=",">
            (#{entity.categoryId}, #{entity.goodName}, #{entity.goodDesc}, #{entity.goodPrice}, #{entity.goodRank},
            #{entity.goodParams}, #{entity.platformId}, #{entity.stationId}, #{entity.createTime}, #{entity.updateTime},
            #{entity.isDelete})
        </foreach>
        on duplicate key update
        category_id = values(category_id) , good_name = values(good_name) , good_desc = values(good_desc) , good_price =
        values(good_price) , good_rank = values(good_rank) , good_params = values(good_params) , platform_id =
        values(platform_id) , station_id = values(station_id) , create_time = values(create_time) , update_time =
        values(update_time) , is_delete = values(is_delete)
    </insert>

    <!--auto generated by MybatisCodeHelper on 2024-09-27-->
    <select id="getByAll" resultMap="BaseResultMap">
        select
        <include refid="Base_Column_List"/>
        from biz_good
        <where>
            <if test="id != null">
                and id=#{id,jdbcType=INTEGER}
            </if>
            <if test="categoryId != null">
                and category_id=#{categoryId,jdbcType=INTEGER}
            </if>
            <if test="goodName != null and goodName != ''">
                and good_name=#{goodName,jdbcType=VARCHAR}
            </if>
            <if test="goodDesc != null and goodDesc != ''">
                and good_desc=#{goodDesc,jdbcType=VARCHAR}
            </if>
            <if test="goodPrice != null">
                and good_price=#{goodPrice,jdbcType=VARCHAR}
            </if>
            <if test="goodRank != null">
                and good_rank=#{goodRank,jdbcType=INTEGER}
            </if>
            <if test="goodParams != null">
                and good_params=#{goodParams,jdbcType=VARCHAR}
            </if>
            <if test="platformId != null">
                and platform_id=#{platformId,jdbcType=INTEGER}
            </if>
            <if test="stationId != null">
                and station_id=#{stationId,jdbcType=INTEGER}
            </if>
            <if test="createTime != null">
                and create_time=#{createTime,jdbcType=TIMESTAMP}
            </if>
            <if test="updateTime != null">
                and update_time=#{updateTime,jdbcType=TIMESTAMP}
            </if>
            <if test="isDelete != null">
                and is_delete=#{isDelete,jdbcType=INTEGER}
            </if>
        </where>
    </select>

    <!--auto generated by MybatisCodeHelper on 2024-09-27-->
    <update id="updateById">
        update biz_good
        <set>
            <if test="updated.id != null">
                id = #{updated.id,jdbcType=INTEGER},
            </if>
            <if test="updated.categoryId != null">
                category_id = #{updated.categoryId,jdbcType=INTEGER},
            </if>
            <if test="updated.goodName != null and updated.goodName != ''">
                good_name = #{updated.goodName,jdbcType=VARCHAR},
            </if>
            <if test="updated.goodDesc != null and updated.goodDesc != ''">
                good_desc = #{updated.goodDesc,jdbcType=VARCHAR},
            </if>
            <if test="updated.goodPrice != null">
                good_price = #{updated.goodPrice,jdbcType=VARCHAR},
            </if>
            <if test="updated.goodRank != null">
                good_rank = #{updated.goodRank,jdbcType=INTEGER},
            </if>
            <if test="updated.goodParams != null">
                good_params = #{updated.goodParams,jdbcType=VARCHAR},
            </if>
            <if test="updated.platformId != null">
                platform_id = #{updated.platformId,jdbcType=INTEGER},
            </if>
            <if test="updated.stationId != null">
                station_id = #{updated.stationId,jdbcType=INTEGER},
            </if>
            <if test="updated.createTime != null">
                create_time = #{updated.createTime,jdbcType=TIMESTAMP},
            </if>
            <if test="updated.updateTime != null">
                update_time = #{updated.updateTime,jdbcType=TIMESTAMP},
            </if>
            <if test="updated.isDelete != null">
                is_delete = #{updated.isDelete,jdbcType=INTEGER},
            </if>
        </set>
        <where>
            <if test="id != null">
                and id=#{id,jdbcType=INTEGER}
            </if>
        </where>
    </update>

    <select id="getPageList" resultMap="BaseResultMap">
        select biz_good.*,biz_category.category_name,biz_source_station.station_name
        from biz_good
        left join biz_category on biz_category.id = biz_good.category_id
        left join biz_source_station on biz_source_station.id = biz_good.station_id
        ${ew.customSqlSegment}
    </select>
</mapper>

