<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="com.xujie.manager.infra.mapper.BizVipMapper">
  <resultMap id="BaseResultMap" type="com.xujie.manager.infra.DO.BizVip">
    <!--@mbg.generated-->
    <!--@Table biz_vip-->
    <id column="id" jdbcType="BIGINT" property="id" />
    <result column="vip_name" jdbcType="VARCHAR" property="vipName" />
    <result column="vip_desc" jdbcType="VARCHAR" property="vipDesc" />
    <result column="vip_icon" jdbcType="VARCHAR" property="vipIcon" />
    <result column="vip_img" jdbcType="VARCHAR" property="vipImg" />
    <result column="vip_price" jdbcType="DECIMAL" property="vipPrice" />
    <result column="vip_post_count" jdbcType="INTEGER" property="vipPostCount" />
    <result column="vip_notify_count" jdbcType="INTEGER" property="vipNotifyCount" />
    <result column="vip_effective_day" jdbcType="INTEGER" property="vipEffectiveDay" />
    <result column="vip_status" jdbcType="INTEGER" property="vipStatus" />
    <result column="is_default" jdbcType="INTEGER" property="isDefault" />
    <result column="create_time" jdbcType="TIMESTAMP" property="createTime" />
    <result column="update_time" jdbcType="TIMESTAMP" property="updateTime" />
    <result column="is_delete" jdbcType="VARCHAR" property="isDelete" />
  </resultMap>
  <sql id="Base_Column_List">
    <!--@mbg.generated-->
    id, vip_name, vip_desc, vip_icon, vip_img, vip_price, vip_post_count, vip_notify_count, 
    vip_effective_day, vip_status, is_default, create_time, update_time, is_delete
  </sql>
</mapper>