<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="com.xujie.manager.infra.mapper.SysOperLogMapper">
    <resultMap id="BaseResultMap" type="com.xujie.manager.infra.DO.SysOperLog">
        <!--@Table sys_oper_log-->
        <result property="id" column="id" jdbcType="INTEGER"/>
        <result property="logDesc" column="log_desc" jdbcType="VARCHAR"/>
        <result property="methodName" column="method_name" jdbcType="VARCHAR"/>
        <result property="requestParams" column="request_params" jdbcType="VARCHAR"/>
        <result property="requestType" column="request_type" jdbcType="VARCHAR"/>
        <result property="responseBody" column="response_body" jdbcType="VARCHAR"/>
        <result property="requestPath" column="request_path" jdbcType="VARCHAR"/>
        <result property="errorLog" column="error_log" jdbcType="VARCHAR"/>
        <result property="operateUser" column="operate_user" jdbcType="INTEGER"/>
        <result property="operateIp" column="operate_ip" jdbcType="VARCHAR"/>
        <result property="isNotify" column="is_notify" jdbcType="VARCHAR"/>
        <result property="costTime" column="cost_time" jdbcType="INTEGER"/>
        <result property="createTime" column="create_time" jdbcType="TIMESTAMP"/>
        <result property="isDelete" column="is_delete" jdbcType="INTEGER"/>
    </resultMap>

    <sql id="Base_Column_List">
        id,
        log_desc,
        method_name,
        request_params,
        request_type,
        response_body,
        request_path,
        error_log,
        operate_user,
        operate_ip,
        is_notify,
        cost_time,
        create_time,
        is_delete
    </sql>

    <!-- 批量插入 -->
    <insert id="insertBatch" keyProperty="id" useGeneratedKeys="true">
        insert into my_admin.sys_oper_log(log_desc, method_name, request_params, request_type, response_body, error_log,
        operate_user, operate_ip, is_notify, cost_time, create_time, is_delete)
        values
        <foreach collection="entities" item="entity" separator=",">
            (#{entity.logDesc}, #{entity.methodName}, #{entity.requestParams}, #{entity.requestType},
            #{entity.responseBody}, #{entity.errorLog}, #{entity.operateUser}, #{entity.operateIp}, #{entity.isNotify},
            #{entity.costTime}, #{entity.createTime}, #{entity.isDelete})
        </foreach>
    </insert>
    <!-- 批量插入或按主键更新 -->
    <insert id="insertOrUpdateBatch" keyProperty="id" useGeneratedKeys="true">
        insert into my_admin.sys_oper_log(log_desc, method_name, request_params, request_type, response_body, error_log,
        operate_user, operate_ip, is_notify, cost_time, create_time, is_delete)
        values
        <foreach collection="entities" item="entity" separator=",">
            (#{entity.logDesc}, #{entity.methodName}, #{entity.requestParams}, #{entity.requestType},
            #{entity.responseBody}, #{entity.errorLog}, #{entity.operateUser}, #{entity.operateIp}, #{entity.isNotify},
            #{entity.costTime}, #{entity.createTime}, #{entity.isDelete})
        </foreach>
        on duplicate key update
        log_desc = values(log_desc) , method_name = values(method_name) , request_params = values(request_params) ,
        request_type = values(request_type) , response_body = values(response_body) , error_log = values(error_log) ,
        operate_user = values(operate_user) , operate_ip = values(operate_ip) , is_notify = values(is_notify) ,
        cost_time = values(cost_time) , create_time = values(create_time) , is_delete = values(is_delete)
    </insert>

<!--auto generated by MybatisCodeHelper on 2024-09-25-->
    <update id="updateById">
        update sys_oper_log
        <set>
            <if test="updated.id != null">
                id = #{updated.id,jdbcType=INTEGER},
            </if>
            <if test="updated.logDesc != null">
                log_desc = #{updated.logDesc,jdbcType=VARCHAR},
            </if>
            <if test="updated.methodName != null">
                method_name = #{updated.methodName,jdbcType=VARCHAR},
            </if>
            <if test="updated.requestParams != null">
                request_params = #{updated.requestParams,jdbcType=VARCHAR},
            </if>
            <if test="updated.requestType != null">
                request_type = #{updated.requestType,jdbcType=VARCHAR},
            </if>
            <if test="updated.responseBody != null">
                response_body = #{updated.responseBody,jdbcType=VARCHAR},
            </if>
            <if test="updated.errorLog != null">
                error_log = #{updated.errorLog,jdbcType=VARCHAR},
            </if>
            <if test="updated.operateUser != null">
                operate_user = #{updated.operateUser,jdbcType=INTEGER},
            </if>
            <if test="updated.operateIp != null">
                operate_ip = #{updated.operateIp,jdbcType=VARCHAR},
            </if>
            <if test="updated.isNotify != null">
                is_notify = #{updated.isNotify,jdbcType=VARCHAR},
            </if>
            <if test="updated.costTime != null">
                cost_time = #{updated.costTime,jdbcType=INTEGER},
            </if>
        </set>
        <where>
            <if test="id != null">
                and id=#{id,jdbcType=INTEGER}
            </if>
        </where>
    </update>
</mapper>

