<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="com.xujie.manager.infra.mapper.SysSystemLogMapper">
    <resultMap id="BaseResultMap" type="com.xujie.manager.infra.DO.SysSystemLog">
        <!--@Table sys_system_log-->
        <result property="id" column="id" jdbcType="INTEGER"/>
        <result property="req" column="req" jdbcType="VARCHAR"/>
        <result property="res" column="res" jdbcType="VARCHAR"/>
        <result property="createTime" column="create_time" jdbcType="TIMESTAMP"/>
        <result property="updateTime" column="update_time" jdbcType="TIMESTAMP"/>
        <result property="isDelete" column="is_delete" jdbcType="INTEGER"/>
    </resultMap>

    <sql id="Base_Column_List">
        id,
        req,
        res,
        create_time,
        update_time,
        is_delete
    </sql>

    <!-- 批量插入 -->
    <insert id="insertBatch" keyProperty="id" useGeneratedKeys="true">
        insert into my_admin.sys_system_log(req, res, create_time, update_time, is_delete)
        values
        <foreach collection="entities" item="entity" separator=",">
            (#{entity.req}, #{entity.res}, #{entity.createTime}, #{entity.updateTime}, #{entity.isDelete})
        </foreach>
    </insert>
    <!-- 批量插入或按主键更新 -->
    <insert id="insertOrUpdateBatch" keyProperty="id" useGeneratedKeys="true">
        insert into my_admin.sys_system_log(req, res, create_time, update_time, is_delete)
        values
        <foreach collection="entities" item="entity" separator=",">
            (#{entity.req}, #{entity.res}, #{entity.createTime}, #{entity.updateTime}, #{entity.isDelete})
        </foreach>
        on duplicate key update
        req = values(req) , res = values(res) , create_time = values(create_time) , update_time = values(update_time) ,
        is_delete = values(is_delete)
    </insert>
</mapper>

