<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="com.xujie.manager.infra.mapper.SysUserMapper">
    <resultMap id="BaseResultMap" type="com.xujie.manager.infra.DO.SysUser">
        <!--@mbg.generated-->
        <!--@Table sys_user-->
        <id column="id" jdbcType="BIGINT" property="id"/>
        <result column="avatar" jdbcType="VARCHAR" property="avatar"/>
        <result column="username" jdbcType="VARCHAR" property="username"/>
        <result column="password" jdbcType="VARCHAR" property="password"/>
        <result column="name" jdbcType="VARCHAR" property="name"/>
        <result column="sex" jdbcType="INTEGER" property="sex"/>
        <result column="email" jdbcType="VARCHAR" property="email"/>
        <result column="open_id" jdbcType="INTEGER" property="openId"/>
        <result column="phone" jdbcType="VARCHAR" property="phone"/>
        <result column="update_time" jdbcType="TIMESTAMP" property="updateTime"/>
        <result column="create_time" jdbcType="TIMESTAMP" property="createTime"/>
        <result column="is_delete" jdbcType="INTEGER" property="isDelete"/>
        <result column="version" jdbcType="BIGINT" property="version"/>
    </resultMap>
    <sql id="Base_Column_List">
        <!--@mbg.generated-->
        id,avatar, username, `password`, `name`, sex, email, open_id, phone, update_time, create_time,
        is_delete, version
    </sql>

    <!--auto generated by MybatisCodeHelper on 2024-09-21-->
    <update id="updateById">
        update sys_user
        <set>
            <if test="updated.id != null">
                id = #{updated.id,jdbcType=BIGINT},
            </if>
            <if test="updated.avatar != null and updated.avatar != ''">
                avatar = #{updated.avatar,jdbcType=VARCHAR},
            </if>
            <if test="updated.username != null and updated.username != ''">
                username = #{updated.username,jdbcType=VARCHAR},
            </if>
            <if test="updated.password != null and updated.password != ''">
                password = #{updated.password,jdbcType=VARCHAR},
            </if>
            <if test="updated.name != null and updated.name != ''">
                name = #{updated.name,jdbcType=VARCHAR},
            </if>
            <if test="updated.sex != null">
                sex = #{updated.sex,jdbcType=INTEGER},
            </if>
            <if test="updated.email != null and updated.email != ''">
                email = #{updated.email,jdbcType=VARCHAR},
            </if>
            <if test="updated.openId != null">
                open_id = #{updated.openId,jdbcType=INTEGER},
            </if>
            <if test="updated.phone != null and updated.phone != ''">
                phone = #{updated.phone,jdbcType=VARCHAR},
            </if>
            <if test="updated.updateTime != null">
                update_time = #{updated.updateTime,jdbcType=TIMESTAMP},
            </if>
            <if test="updated.createTime != null">
                create_time = #{updated.createTime,jdbcType=TIMESTAMP},
            </if>
            <if test="updated.isDelete != null">
                is_delete = #{updated.isDelete,jdbcType=INTEGER},
            </if>
            <if test="updated.version != null">
                version = #{updated.version,jdbcType=BIGINT},
            </if>
        </set>
        <where>
            <if test="id != null">
                and id=#{id,jdbcType=BIGINT}
            </if>
        </where>
    </update>
</mapper>