<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="com.xujie.business.infra.mapper.BizCommunityPostMapper">
  <resultMap id="BaseResultMap" type="com.xujie.business.infra.DO.BizCommunityPost">
    <!--@mbg.generated-->
    <!--@Table biz_community_post-->
    <id column="id" jdbcType="BIGINT" property="id" />
    <result column="user_id" jdbcType="BIGINT" property="userId" />
    <result column="post_type_id" jdbcType="BIGINT" property="postTypeId" />
    <result column="post_type_name" jdbcType="VARCHAR" property="postTypeName" />
    <result column="title" jdbcType="VARCHAR" property="title" />
    <result column="content" jdbcType="VARCHAR" property="content" />
    <result column="img_array" jdbcType="VARCHAR" property="imgArray" />
    <result column="status" jdbcType="INTEGER" property="status" />
    <result column="create_time" jdbcType="TIMESTAMP" property="createTime" />
    <result column="update_time" jdbcType="TIMESTAMP" property="updateTime" />
    <result column="is_delete" jdbcType="INTEGER" property="isDelete" />
  </resultMap>
  <sql id="Base_Column_List">
    <!--@mbg.generated-->
    id, user_id, post_type_id, post_type_name, title, content, img_array, `status`, create_time, 
    update_time, is_delete
  </sql>
</mapper>