<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="com.xujie.business.infra.mapper.BizEggQuotationDayMapper">
    <resultMap id="BaseResultMap" type="com.xujie.business.infra.DO.BizEggQuotationDay">
        <!--@mbg.generated-->
        <!--@Table biz_egg_quotation_day-->
        <id column="id" jdbcType="BIGINT" property="id"/>
        <result column="type_id" jdbcType="BIGINT" property="typeId"/>
        <result column="quotation_type" jdbcType="INTEGER" property="quotationType"/>
        <result column="avg_sale_price" jdbcType="DOUBLE" property="avgSaleNum"/>
        <result column="avg_num" jdbcType="DOUBLE" property="avgNum"/>
        <result column="max_num" jdbcType="DOUBLE" property="maxNum"/>
        <result column="min_num" jdbcType="DOUBLE" property="minNum"/>
        <result column="people_number" jdbcType="INTEGER" property="peopleNumber"/>
        <result column="status" jdbcType="INTEGER" property="status"/>
        <result column="data_time" jdbcType="VARCHAR" property="dataTime"/>
        <result column="create_time" jdbcType="TIMESTAMP" property="createTime"/>
        <result column="update_time" jdbcType="TIMESTAMP" property="updateTime"/>
        <result column="is_delete" jdbcType="INTEGER" property="isDelete"/>
    </resultMap>
    <sql id="Base_Column_List">
        <!--@mbg.generated-->
        id, type_id, quotation_type, avg_num,avg_sale_price, max_num, min_num, people_number, `status`,
        data_time, create_time, update_time, is_delete
    </sql>

    <!--auto generated by MybatisCodeHelper on 2024-10-10-->
    <insert id="insertSelective" parameterType="java.util.List">
        INSERT INTO biz_egg_quotation_day
        <trim prefix="(" suffix=")" suffixOverrides=",">
            <if test="collection[0].id != null">
                id,
            </if>
            <if test="collection[0].typeId != null">
                type_id,
            </if>
            <if test="collection[0].quotationType != null">
                quotation_type,
            </if>
            <if test="collection[0].avgNum != null">
                avg_num,
            </if>
            <if test="collection[0].maxNum != null">
                max_num,
            </if>
            <if test="collection[0].minNum != null">
                min_num,
            </if>
            <if test="collection[0].peopleNumber != null">
                people_number,
            </if>
            <if test="collection[0].status != null">
                status,
            </if>
            <if test="collection[0].dataTime != null">
                data_time,
            </if>
            <if test="collection[0].createTime != null">
                create_time,
            </if>
            <if test="collection[0].updateTime != null">
                update_time,
            </if>
            <if test="collection[0].isDelete != null">
                is_delete,
            </if>
        </trim>
        VALUES
        <foreach collection="collection" item="item" separator=",">
            <trim prefix="(" suffix=")" suffixOverrides=",">
                <if test="item.id != null">
                    #{item.id,jdbcType=BIGINT},
                </if>
                <if test="item.typeId != null">
                    #{item.typeId,jdbcType=BIGINT},
                </if>
                <if test="item.quotationType != null">
                    #{item.quotationType,jdbcType=INTEGER},
                </if>
                <if test="item.avgNum != null">
                    #{item.avgNum,jdbcType=DOUBLE},
                </if>
                <if test="item.maxNum != null">
                    #{item.maxNum,jdbcType=DOUBLE},
                </if>
                <if test="item.minNum != null">
                    #{item.minNum,jdbcType=DOUBLE},
                </if>
                <if test="item.peopleNumber != null">
                    #{item.peopleNumber,jdbcType=INTEGER},
                </if>
                <if test="item.status != null">
                    #{item.status,jdbcType=INTEGER},
                </if>
                <if test="item.dataTime != null">
                    #{item.dataTime,jdbcType=VARCHAR},
                </if>
                <if test="item.createTime != null">
                    #{item.createTime,jdbcType=TIMESTAMP},
                </if>
                <if test="item.updateTime != null">
                    #{item.updateTime,jdbcType=TIMESTAMP},
                </if>
                <if test="item.isDelete != null">
                    #{item.isDelete,jdbcType=INTEGER},
                </if>
            </trim>
        </foreach>
        ON DUPLICATE KEY UPDATE
        avg_num = VALUES(avg_num),
        max_num = VALUES(max_num),
        min_num = VALUES(min_num),
        people_number = VALUES(people_number),
        status = VALUES(status),
        update_time = VALUES(update_time),
        is_delete = VALUES(is_delete)
    </insert>
</mapper>