<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="com.xujie.business.infra.mapper.BizEggQuotationMapper">
  <resultMap id="BaseResultMap" type="com.xujie.business.domain.BO.BizEggQuotation">
    <!--@mbg.generated-->
    <!--@Table biz_egg_quotation-->
    <id column="id" jdbcType="BIGINT" property="id" />
    <result column="user_id" jdbcType="BIGINT" property="userId" />
    <result column="egg_type_id" jdbcType="BIGINT" property="eggTypeId" />
    <result column="egg_type_name" jdbcType="VARCHAR" property="eggTypeName" />
    <result column="quotation_location" jdbcType="VARCHAR" property="quotationLocation" />
    <result column="quotation_status" jdbcType="INTEGER" property="quotationStatus" />
    <result column="quotation_type" jdbcType="INTEGER" property="quotationType" />
    <result column="data_date" jdbcType="TIMESTAMP" property="dataDate" />
    <result column="create_time" jdbcType="TIMESTAMP" property="createTime" />
    <result column="update_time" jdbcType="TIMESTAMP" property="updateTime" />
    <result column="is_delete" jdbcType="INTEGER" property="isDelete" />
  </resultMap>
  <sql id="Base_Column_List">
    <!--@mbg.generated-->
    id, user_id, egg_type_id, egg_type_name, quotation_location, quotation_status, quotation_type, 
    data_date, create_time, update_time, is_delete
  </sql>
  <select id="selectByPrimaryKey" parameterType="java.lang.Long" resultMap="BaseResultMap">
    <!--@mbg.generated-->
    select 
    <include refid="Base_Column_List" />
    from biz_egg_quotation
    where id = #{id,jdbcType=BIGINT}
  </select>
  <delete id="deleteByPrimaryKey" parameterType="java.lang.Long">
    <!--@mbg.generated-->
    delete from biz_egg_quotation
    where id = #{id,jdbcType=BIGINT}
  </delete>
  <insert id="insert" parameterType="com.xujie.business.domain.BO.BizEggQuotation">
    <!--@mbg.generated-->
    insert into biz_egg_quotation (id, user_id, egg_type_id, 
      egg_type_name, quotation_location, quotation_status, 
      quotation_type, data_date, create_time, 
      update_time, is_delete)
    values (#{id,jdbcType=BIGINT}, #{userId,jdbcType=BIGINT}, #{eggTypeId,jdbcType=BIGINT}, 
      #{eggTypeName,jdbcType=VARCHAR}, #{quotationLocation,jdbcType=VARCHAR}, #{quotationStatus,jdbcType=INTEGER}, 
      #{quotationType,jdbcType=INTEGER}, #{dataDate,jdbcType=TIMESTAMP}, #{createTime,jdbcType=TIMESTAMP}, 
      #{updateTime,jdbcType=TIMESTAMP}, #{isDelete,jdbcType=INTEGER})
  </insert>
  <insert id="insertSelective" parameterType="com.xujie.business.domain.BO.BizEggQuotation">
    <!--@mbg.generated-->
    insert into biz_egg_quotation
    <trim prefix="(" suffix=")" suffixOverrides=",">
      <if test="id != null">
        id,
      </if>
      <if test="userId != null">
        user_id,
      </if>
      <if test="eggTypeId != null">
        egg_type_id,
      </if>
      <if test="eggTypeName != null">
        egg_type_name,
      </if>
      <if test="quotationLocation != null">
        quotation_location,
      </if>
      <if test="quotationStatus != null">
        quotation_status,
      </if>
      <if test="quotationType != null">
        quotation_type,
      </if>
      <if test="dataDate != null">
        data_date,
      </if>
      <if test="createTime != null">
        create_time,
      </if>
      <if test="updateTime != null">
        update_time,
      </if>
      <if test="isDelete != null">
        is_delete,
      </if>
    </trim>
    <trim prefix="values (" suffix=")" suffixOverrides=",">
      <if test="id != null">
        #{id,jdbcType=BIGINT},
      </if>
      <if test="userId != null">
        #{userId,jdbcType=BIGINT},
      </if>
      <if test="eggTypeId != null">
        #{eggTypeId,jdbcType=BIGINT},
      </if>
      <if test="eggTypeName != null">
        #{eggTypeName,jdbcType=VARCHAR},
      </if>
      <if test="quotationLocation != null">
        #{quotationLocation,jdbcType=VARCHAR},
      </if>
      <if test="quotationStatus != null">
        #{quotationStatus,jdbcType=INTEGER},
      </if>
      <if test="quotationType != null">
        #{quotationType,jdbcType=INTEGER},
      </if>
      <if test="dataDate != null">
        #{dataDate,jdbcType=TIMESTAMP},
      </if>
      <if test="createTime != null">
        #{createTime,jdbcType=TIMESTAMP},
      </if>
      <if test="updateTime != null">
        #{updateTime,jdbcType=TIMESTAMP},
      </if>
      <if test="isDelete != null">
        #{isDelete,jdbcType=INTEGER},
      </if>
    </trim>
  </insert>
  <update id="updateByPrimaryKeySelective" parameterType="com.xujie.business.domain.BO.BizEggQuotation">
    <!--@mbg.generated-->
    update biz_egg_quotation
    <set>
      <if test="userId != null">
        user_id = #{userId,jdbcType=BIGINT},
      </if>
      <if test="eggTypeId != null">
        egg_type_id = #{eggTypeId,jdbcType=BIGINT},
      </if>
      <if test="eggTypeName != null">
        egg_type_name = #{eggTypeName,jdbcType=VARCHAR},
      </if>
      <if test="quotationLocation != null">
        quotation_location = #{quotationLocation,jdbcType=VARCHAR},
      </if>
      <if test="quotationStatus != null">
        quotation_status = #{quotationStatus,jdbcType=INTEGER},
      </if>
      <if test="quotationType != null">
        quotation_type = #{quotationType,jdbcType=INTEGER},
      </if>
      <if test="dataDate != null">
        data_date = #{dataDate,jdbcType=TIMESTAMP},
      </if>
      <if test="createTime != null">
        create_time = #{createTime,jdbcType=TIMESTAMP},
      </if>
      <if test="updateTime != null">
        update_time = #{updateTime,jdbcType=TIMESTAMP},
      </if>
      <if test="isDelete != null">
        is_delete = #{isDelete,jdbcType=INTEGER},
      </if>
    </set>
    where id = #{id,jdbcType=BIGINT}
  </update>
  <update id="updateByPrimaryKey" parameterType="com.xujie.business.domain.BO.BizEggQuotation">
    <!--@mbg.generated-->
    update biz_egg_quotation
    set user_id = #{userId,jdbcType=BIGINT},
      egg_type_id = #{eggTypeId,jdbcType=BIGINT},
      egg_type_name = #{eggTypeName,jdbcType=VARCHAR},
      quotation_location = #{quotationLocation,jdbcType=VARCHAR},
      quotation_status = #{quotationStatus,jdbcType=INTEGER},
      quotation_type = #{quotationType,jdbcType=INTEGER},
      data_date = #{dataDate,jdbcType=TIMESTAMP},
      create_time = #{createTime,jdbcType=TIMESTAMP},
      update_time = #{updateTime,jdbcType=TIMESTAMP},
      is_delete = #{isDelete,jdbcType=INTEGER}
    where id = #{id,jdbcType=BIGINT}
  </update>
</mapper>