<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="com.xujie.business.infra.mapper.BizEggQuotationMapper">
    <resultMap id="BaseResultMap" type="com.xujie.business.infra.DO.BizEggQuotation">
        <!--@mbg.generated-->
        <!--@Table biz_egg_quotation-->
        <id column="id" jdbcType="BIGINT" property="id"/>
        <result column="user_id" jdbcType="BIGINT" property="userId"/>
        <result column="egg_type_id" jdbcType="BIGINT" property="eggTypeId"/>
        <result column="egg_type_name" jdbcType="VARCHAR" property="eggTypeName"/>
        <result column="quotation_location" jdbcType="VARCHAR" property="quotationLocation"/>
        <result column="quotation_max_price" jdbcType="DOUBLE" property="quotationMaxPrice"/>
        <result column="quotation_avg_price" jdbcType="DOUBLE" property="quotationAvgPrice"/>
        <result column="quotation_min_price" jdbcType="DOUBLE" property="quotationMinPrice"/>
        <result column="quotation_status" jdbcType="INTEGER" property="quotationStatus"/>
        <result column="quotation_float_status" jdbcType="INTEGER" property="quotationFloatStatus"/>
        <result column="quotation_type" jdbcType="INTEGER" property="quotationType"/>
        <result column="data_date" jdbcType="VARCHAR" property="dataDate"/>
        <result column="create_time" jdbcType="TIMESTAMP" property="createTime"/>
        <result column="update_time" jdbcType="TIMESTAMP" property="updateTime"/>
        <result column="is_delete" jdbcType="INTEGER" property="isDelete"/>
    </resultMap>
    <sql id="Base_Column_List">
        <!--@mbg.generated-->
        id, user_id, egg_type_id, egg_type_name, quotation_location, quotation_max_price,
        quotation_avg_price, quotation_min_price, quotation_status, quotation_float_status,quotation_type, data_date,
        create_time, update_time, is_delete
    </sql>

    <!--auto generated by MybatisCodeHelper on 2024-10-06-->
    <select id="getByAll" resultMap="BaseResultMap">
        select
        <include refid="Base_Column_List"/>
        from biz_egg_quotation
        <where>
            <if test="id != null">
                and id=#{id,jdbcType=BIGINT}
            </if>
            <if test="userId != null">
                and user_id=#{userId,jdbcType=BIGINT}
            </if>
            <if test="eggTypeId != null">
                and egg_type_id=#{eggTypeId,jdbcType=BIGINT}
            </if>
            <if test="eggTypeName != null and eggTypeName != ''">
                and egg_type_name=#{eggTypeName,jdbcType=VARCHAR}
            </if>
            <if test="quotationLocation != null and quotationLocation != ''">
                and quotation_location=#{quotationLocation,jdbcType=VARCHAR}
            </if>
            <if test="quotationMaxPrice != null">
                and quotation_max_price=#{quotationMaxPrice,jdbcType=DECIMAL}
            </if>
            <if test="quotationAvgPrice != null">
                and quotation_avg_price=#{quotationAvgPrice,jdbcType=DECIMAL}
            </if>
            <if test="quotationMinPrice != null">
                and quotation_min_price=#{quotationMinPrice,jdbcType=DECIMAL}
            </if>
            <if test="quotationStatus != null">
                and quotation_status=#{quotationStatus,jdbcType=INTEGER}
            </if>
            <if test="quotationType != null">
                and quotation_type=#{quotationType,jdbcType=INTEGER}
            </if>
            <if test="dataDate != null">
                and data_date=#{dataDate,jdbcType=TIMESTAMP}
            </if>
            <if test="createTime != null">
                and create_time=#{createTime,jdbcType=TIMESTAMP}
            </if>
            <if test="updateTime != null">
                and update_time=#{updateTime,jdbcType=TIMESTAMP}
            </if>
            <if test="isDelete != null">
                and is_delete=#{isDelete,jdbcType=INTEGER}
            </if>
        </where>
    </select>

    <select id="getByPage" resultMap="BaseResultMap">
        SELECT
        user_id,
        JSON_OBJECT(
        'nickName', biz_user.nick_name,
        'userAvatar',biz_user.user_avatar,
        'userDesc',biz_user.user_desc
        ) as userJson,
        JSON_ARRAYAGG(
        JSON_OBJECT(
        'id', biz_egg_quotation.id,
        'eggTypeName', biz_egg_quotation.egg_type_name,
        'quotationType',case (biz_egg_quotation.quotation_type)
        when 1 THEN '收购价'
        when 2 THEN '销售价'
        END ,
        'quotationLocation',biz_egg_quotation.quotation_location,
        'quotationAvgPrice', biz_egg_quotation.quotation_avg_price,
        'quotationMaxPrice', biz_egg_quotation.quotation_max_price,
        'quotationMinPrice', biz_egg_quotation.quotation_min_price,
        'quotationFloatStatus',biz_egg_quotation.quotation_float_status,
        'date', data_date
        )
        ) AS jsonArr
        FROM
        biz_egg_quotation
        left JOIN biz_user ON biz_user.id = biz_egg_quotation.user_id
        ${ew.customSqlSegment}
    </select>
</mapper>