<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="com.xujie.business.infra.mapper.BizGoodMapper">
  <resultMap id="BaseResultMap" type="com.xujie.business.infra.DO.BizGood">
    <!--@mbg.generated-->
    <!--@Table biz_good-->
    <id column="id" jdbcType="BIGINT" property="id" />
    <result column="category_id" jdbcType="BIGINT" property="categoryId" />
    <result column="good_name" jdbcType="VARCHAR" property="goodName" />
    <result column="good_desc" jdbcType="VARCHAR" property="goodDesc" />
    <result column="good_price" jdbcType="DECIMAL" property="goodPrice" />
    <result column="good_rank" jdbcType="INTEGER" property="goodRank" />
    <result column="good_params" jdbcType="VARCHAR" property="goodParams" />
    <result column="station_id" jdbcType="BIGINT" property="stationId" />
    <result column="create_time" jdbcType="TIMESTAMP" property="createTime" />
    <result column="update_time" jdbcType="TIMESTAMP" property="updateTime" />
    <result column="is_delete" jdbcType="INTEGER" property="isDelete" />
  </resultMap>
  <sql id="Base_Column_List">
    <!--@mbg.generated-->
    id, category_id, good_name, good_desc, good_price, good_rank, good_params, station_id, 
    create_time, update_time, is_delete
  </sql>
</mapper>