<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="com.xujie.manager.infra.mapper.SysRoutersMapper">
    <resultMap id="BaseResultMap" type="com.xujie.manager.infra.DO.SysRouters">
        <!--@Table sys_routers-->
        <result property="id" column="id" jdbcType="INTEGER"/>
        <result property="name" column="name" jdbcType="VARCHAR"/>
        <result property="icon" column="icon" jdbcType="VARCHAR"/>
        <result property="title" column="title" jdbcType="VARCHAR"/>
        <result property="parentId" column="parent_id" jdbcType="INTEGER"/>
        <result property="path" column="path" jdbcType="VARCHAR"/>
        <result property="redirect" column="redirect" jdbcType="VARCHAR"/>
        <result property="component" column="component" jdbcType="VARCHAR"/>
        <result property="showlink" column="showLink" jdbcType="BOOLEAN"/>
        <result property="rank" column="rank" jdbcType="INTEGER"/>
        <result property="createTime" column="create_time" jdbcType="TIMESTAMP"/>
        <result property="updateTime" column="update_time" jdbcType="TIMESTAMP"/>
        <result property="isDelete" column="is_delete" jdbcType="INTEGER"/>
    </resultMap>

    <sql id="Base_Column_List">
        id,
        name,
        icon,
        title,
        parent_id,
        path,
        redirect,
        component,

        showLink,
        rank,
        create_time,
        update_time,
        is_delete
    </sql>

    <!-- 批量插入 -->
    <insert id="insertBatch" keyProperty="id" useGeneratedKeys="true">
        insert into my_admin.sys_routers(name, icon, title, parent_id, path, redirect, component, showLink, rank,
        create_time, update_time, is_delete)
        values
        <foreach collection="entities" item="entity" separator=",">
            (#{entity.name}, #{entity.icon}, #{entity.title}, #{entity.parentId}, #{entity.path}, #{entity.redirect},
            #{entity.component}, #{entity.showlink}, #{entity.rank}, #{entity.createTime}, #{entity.updateTime},
            #{entity.isDelete})
        </foreach>
    </insert>
    <!-- 批量插入或按主键更新 -->
    <insert id="insertOrUpdateBatch" keyProperty="id" useGeneratedKeys="true">
        insert into my_admin.sys_routers(name, icon, title, parent_id, path, redirect, component, showLink, rank,
        create_time, update_time, is_delete)
        values
        <foreach collection="entities" item="entity" separator=",">
            (#{entity.name}, #{entity.icon}, #{entity.title}, #{entity.parentId}, #{entity.path}, #{entity.redirect},
            #{entity.component}, #{entity.showlink}, #{entity.rank}, #{entity.createTime}, #{entity.updateTime},
            #{entity.isDelete})
        </foreach>
        on duplicate key update
        name = values(name) , icon = values(icon) , title = values(title) , parent_id = values(parent_id) , path =
        values(path) , redirect = values(redirect) , component = values(component) , showLink = values(showLink) , rank
        = values(rank) , create_time = values(create_time) , update_time = values(update_time) , is_delete =
        values(is_delete)
    </insert>
</mapper>

